.entry
  .body
    %img{:src=>User.find(:user=>@status.user).image, :width=>32, :float=>"left"}
    = @status.formatted_text
    %br{:clear=>"all"}
  .info
    %span.user
      by
      %a{:href=>"/user/#{@status.user}"}== #{h @status.user}
    %span.date
      at
      %a{ :href => "/statuses/#{ @status.id }" }== #{h @status.date}
%br
